.btn-outline-black {
  border: 1px solid black !important;
  color: black !important;
}

.btn-outline-black:hover {
  background-color: black !important;
  color: white !important;
}

.btn-outline-black:focus, 
.btn-outline-black:active {
  box-shadow: none !important; /* optional */
}
